name: Build & Deploy to EC2

on:
  push:
    branches: ["main"]
  release:
    types: [published]

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set TAG
        id: set_tag
        run: |
          if [ "${{ github.event_name }}" = "release" ]; then
            echo "TAG=${GITHUB_REF##*/}" >> $GITHUB_ENV
          else
            SHORT_SHA=$(echo "${GITHUB_SHA}" | cut -c1-7)
            echo "TAG=${GITHUB_RUN_NUMBER}-${SHORT_SHA}" >> $GITHUB_ENV
          fi

      - name: Create Frontent ENV File
        run: |
          echo "VITE_API_BASE=${{ secrets.VITE_API_BASE }}" > frontent/.env.production
          echo "VITE_GEMINI_API_KEY=${{ secrets.VITE_GEMINI_API_KEY }}" >> frontent/.env.production
          echo "VITE_FRONTEND_URL=${{ secrets.VITE_FRONTEND_URL }}" >> frontent/.env.production
          echo "VITE_FIREBASE_API_KEY=${{ secrets.VITE_FIREBASE_API_KEY }}" >> frontent/.env.production
          echo "VITE_FIREBASE_AUTH_DOMAIN=${{ secrets.VITE_FIREBASE_AUTH_DOMAIN }}" >> frontent/.env.production
          echo "VITE_FIREBASE_PROJECT_ID=${{ secrets.VITE_FIREBASE_PROJECT_ID }}" >> frontent/.env.production
          echo "VITE_FIREBASE_STORAGE_BUCKET=${{ secrets.VITE_FIREBASE_STORAGE_BUCKET }}" >> frontent/.env.production
          echo "VITE_FIREBASE_MESSAGING_SENDER_ID=${{ secrets.VITE_FIREBASE_MESSAGING_SENDER_ID }}" >> frontent/.env.production
          echo "VITE_FIREBASE_APP_ID=${{ secrets.VITE_FIREBASE_APP_ID }}" >> frontent/.env.production

      - name: Login to DockerHub
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Backend Image
        run: docker build -t jitendrajat/backend:${{ env.TAG }} ./backend

      - name: Build Frontend Image
        run: docker build -t jitendrajat/frontend:${{ env.TAG }} ./frontent

      - name: Push Docker Images
        run: |
          docker push jitendrajat/backend:${{ env.TAG }}
          docker push jitendrajat/frontent:${{ env.TAG }}
          docker logout

      - name: Setup SSH Key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy to EC2 (Update Tags + Restart Docker)
        env:
          TAG: ${{ env.TAG }}
        run: |
          ssh -i ~/.ssh/id_rsa ubuntu@${{ secrets.EC2_HOST }} << EOF
            cd /home/ubuntu/jeetu-app

            sed -i "s|BACKEND_TAG=.*|BACKEND_TAG=${TAG}|" .env || echo "BACKEND_TAG=${TAG}" >> .env
            sed -i "s|FRONTEND_TAG=.*|FRONTEND_TAG=${TAG}|" .env || echo "FRONTEND_TAG=${TAG}" >> .env

            docker-compose pull
            docker-compose up -d
            echo "Deployment done!"

